<div class="key-ceremony" data-election-id="<%= election.id %>" data-trustee-id="<%= trustee.id %>" data-trustee-public-key="<%= trustee.public_key %>">
  <button class="button start">Start</button>
</div>
<%= javascript_include_tag "decidim/elections/trustee_zone/keys", integrity: true %>
